  
.first{
    background-color: white;
    text-shadow: black;
    color: black;
    font-weight: bold;
}
.first h4,h5{
    color: black;

}
.second{
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    height: 450px;
}
#imagess{
    background-color: black;
    height: 300px;
    width:400px;
}
.videoplayer{
    width: 100%;
    height: 450px;
}